openapi: 3.1.0
info:
  title: Viva Wallet Merchant API
  version: 1.3.0
  description: |
    Spécification OpenAPI des endpoints Viva Wallet couverts par le SDK PHP `qrcommunication/viva-merchant-sdk`.

    ## Deux APIs, deux authentifications

    Viva Wallet expose **deux APIs distinctes** avec des conventions différentes :

    | API | Host production | Auth | Convention |
    |-----|-----------------|------|------------|
    | **Legacy** | `www.vivapayments.com` | Basic Auth (MerchantID:APIKey) | PascalCase |
    | **New** | `api.vivapayments.com` | Bearer OAuth2 | camelCase |

    Le SDK gère automatiquement le routage et l'authentification. Vous n'avez pas à vous en préoccuper.

    ## Montants

    Tous les montants sont exprimés en **centimes** (integer). Exemple : `1500` = 15,00 EUR.

    ## Environnements

    - **Demo (sandbox)** : `demo.vivapayments.com` / `demo-api.vivapayments.com`
    - **Production** : `www.vivapayments.com` / `api.vivapayments.com`

    ## SDK PHP

    ```bash
    composer require qrcommunication/viva-merchant-sdk
    ```

    ```php
    $viva = new \QrCommunication\VivaMerchant\VivaClient(
        merchantId:   'uuid',
        apiKey:       'key',
        clientId:     'xxx.apps.vivapayments.com',
        clientSecret: 'secret',
        environment:  'demo',
    );
    ```
  contact:
    name: QrCommunication
    url: https://qrcommunication.com
    email: dev@praticonnect.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://demo.vivapayments.com
    description: Demo / Sandbox — Legacy API (Basic Auth)
  - url: https://demo-api.vivapayments.com
    description: Demo / Sandbox — New API (Bearer OAuth2)
  - url: https://www.vivapayments.com
    description: Production — Legacy API (Basic Auth)
  - url: https://api.vivapayments.com
    description: Production — New API (Bearer OAuth2)

tags:
  - name: Orders
    description: |
      Ordres de paiement Smart Checkout.
      Créez un ordre, récupérez son statut, annulez-le.
      **API Legacy** — Basic Auth — PascalCase.
  - name: Transactions
    description: |
      Opérations sur les transactions : consultation, liste, annulation/remboursement, capture de pré-autorisation, paiement récurrent.
      **API Legacy** (Basic Auth) sauf `getV2` qui utilise l'**API New** (Bearer OAuth2).
  - name: Sources
    description: |
      Gestion des sources de paiement (payment sources).
      **API Legacy** — Basic Auth — PascalCase.
  - name: Wallets
    description: |
      Portefeuilles marchands : solde, transferts entre wallets, gestion via Account API.
      Mélange d'**API Legacy** (transferts) et **API New** (liste, création, transactions compte).
  - name: BankAccounts
    description: |
      Comptes bancaires et virements SEPA.
      Lier un IBAN, consulter les options de transfert, exécuter un virement.
      **API New** — Bearer OAuth2 — camelCase.
  - name: Account
    description: |
      Informations du compte marchand.
      **API New** — Bearer OAuth2.
  - name: Webhooks
    description: |
      Vérification et parsing des webhooks Viva Wallet.
      Pas d'authentification côté SDK — ce sont des helpers de parsing.

security:
  - BasicAuth: []
  - BearerAuth: []

paths:
  # ═══════════════════════════════════════════════════════════════
  # ORDERS (Legacy API — Basic Auth)
  # ═══════════════════════════════════════════════════════════════

  /api/orders:
    post:
      tags: [Orders]
      operationId: createOrder
      summary: Créer un ordre de paiement
      description: |
        Crée un ordre Smart Checkout et retourne un code d'ordre + URL de checkout.
        Le client est ensuite redirigé vers cette URL pour payer.

        **SDK** : `$viva->orders->create(amount: 1500, customerDescription: 'Consultation')`
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            examples:
              simple:
                summary: Ordre simple
                value:
                  Amount: 1500
                  CustomerTrns: "Consultation naturopathie"
                  MerchantTrns: "session_123"
              recurring:
                summary: Ordre avec tokenisation
                value:
                  Amount: 5000
                  CustomerTrns: "Abonnement mensuel"
                  MerchantTrns: "sub_456"
                  AllowRecurring: true
                  SourceCode: "1234"
              preauth:
                summary: Pré-autorisation
                value:
                  Amount: 10000
                  CustomerTrns: "Réservation"
                  IsPreAuth: true
              installments:
                summary: Paiement en plusieurs fois
                value:
                  Amount: 30000
                  CustomerTrns: "Formation complète"
                  MaxInstallments: 6
      responses:
        '200':
          description: Ordre créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
                OrderCode: 1234567890
        '400':
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
              example:
                ErrorCode: 1
                ErrorText: "Invalid amount"
                Success: false
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/orders/{orderCode}:
    get:
      tags: [Orders]
      operationId: getOrder
      summary: Récupérer le statut d'un ordre
      description: |
        Retourne les détails d'un ordre de paiement : statut, montant, transactions associées.

        **SDK** : `$viva->orders->get(1234567890)`
      security:
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderCode'
      responses:
        '200':
          description: Détails de l'ordre
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetails'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
                OrderCode: 1234567890
                StateId: 0
                MerchantTrns: "session_123"
                CustomerTrns: "Consultation naturopathie"
                RequestAmount: 15.00
                RequestCurrencyCode: 978
                PaymentMethodId: 0
                Transactions: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Ordre non trouvé

    delete:
      tags: [Orders]
      operationId: cancelOrder
      summary: Annuler un ordre non payé
      description: |
        Annule un ordre de paiement qui n'a pas encore été payé.

        **SDK** : `$viva->orders->cancel(1234567890)`
      security:
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderCode'
      responses:
        '200':
          description: Ordre annulé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacySuccessResponse'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Ordre non trouvé

  # ═══════════════════════════════════════════════════════════════
  # TRANSACTIONS (Legacy API — Basic Auth + New API pour getV2)
  # ═══════════════════════════════════════════════════════════════

  /api/transactions/{transactionId}:
    get:
      tags: [Transactions]
      operationId: getTransaction
      summary: Détails d'une transaction (Legacy)
      description: |
        Récupère les détails complets d'une transaction via l'API Legacy.
        Retourne : Fee, Commission, Order, Payment, CreditCard (clés PascalCase).

        **SDK** : `$viva->transactions->get('uuid')`
      security:
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/TransactionId'
      responses:
        '200':
          description: Détails de la transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyTransactionDetails'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
                Transactions:
                  - TransactionId: "c90d4902-6245-449f-b2b0-51b8cce09571"
                    Amount: 15.00
                    GrossAmount: 15.00
                    Fee: 0.25
                    StatusId: "F"
                    CurrencyCode: 978
                    MerchantTrns: "session_123"
                    CustomerTrns: "Consultation"
                    Order:
                      OrderCode: 1234567890
                    CreditCard:
                      Number: "411111...1111"
                      CardHolderName: "JOHN DOE"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Transaction non trouvée

    delete:
      tags: [Transactions]
      operationId: cancelTransaction
      summary: Annuler ou rembourser une transaction
      description: |
        Annule (void) ou rembourse (refund) une transaction selon la date :
        - **Même jour** = annulation (void)
        - **Jour suivant ou après** = remboursement (refund)

        Le montant est optionnel : sans montant, c'est un remboursement total.

        **SDK** :
        ```php
        $viva->transactions->cancel('uuid');              // total
        $viva->transactions->cancel('uuid', amount: 500); // partiel
        ```
      security:
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/TransactionId'
        - name: amount
          in: query
          description: Montant en centimes pour un remboursement partiel (null = total)
          required: false
          schema:
            type: integer
            minimum: 1
          example: 500
        - name: sourceCode
          in: query
          description: Code source de paiement
          required: false
          schema:
            type: string
          example: "1234"
      responses:
        '200':
          description: Transaction annulée/remboursée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelTransactionResponse'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
                TransactionId: "d4f5a678-1234-5678-9abc-def012345678"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          description: Transaction non annulable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'

    post:
      tags: [Transactions]
      operationId: captureOrRecurring
      summary: Capturer une pré-autorisation OU paiement récurrent
      description: |
        Cet endpoint sert à deux opérations distinctes selon le contexte :

        1. **Capture de pré-autorisation** : si la transaction originale est un preauth, POST capture le montant.
        2. **Paiement récurrent** : si la transaction originale a été tokenisée (`AllowRecurring: true`), POST charge une nouvelle transaction.

        **SDK (capture)** : `$viva->transactions->capture('uuid', amount: 1500)`
        **SDK (recurring)** : `$viva->transactions->recurring('uuid', amount: 1500)`

        > **Pré-requis** : "Allow recurring payments and pre-auth captures via API" doit être activé dans Settings > API Access du dashboard Viva.
      security:
        - BasicAuth: []
      parameters:
        - $ref: '#/components/parameters/TransactionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureOrRecurringRequest'
            examples:
              capture:
                summary: Capture d'un preauth
                value:
                  Amount: 1500
              recurring:
                summary: Paiement récurrent
                value:
                  Amount: 2500
                  SourceCode: "1234"
      responses:
        '200':
          description: Transaction capturée ou récurrente créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureOrRecurringResponse'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
                TransactionId: "e5f6b789-2345-6789-abcd-ef0123456789"
                Amount: 15.00
        '400':
          description: Erreur de capture ou de paiement récurrent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
              example:
                ErrorCode: 5
                ErrorText: "Capture not allowed for this transaction"
                Success: false
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/transactions:
    get:
      tags: [Transactions]
      operationId: listTransactionsByDate
      summary: Lister les transactions par date
      description: |
        Retourne toutes les transactions pour une date donnée.

        **SDK** : `$viva->transactions->listByDate('2026-03-18')`
      security:
        - BasicAuth: []
      parameters:
        - name: date
          in: query
          required: true
          description: Date au format Y-m-d
          schema:
            type: string
            format: date
          example: "2026-03-18"
      responses:
        '200':
          description: Liste des transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
              example:
                ErrorCode: 0
                ErrorText: null
                Success: true
                Transactions:
                  - TransactionId: "c90d4902-6245-449f-b2b0-51b8cce09571"
                    Amount: 15.00
                    StatusId: "F"
                    MerchantTrns: "session_123"
                  - TransactionId: "d1e2f345-6789-0abc-def1-234567890abc"
                    Amount: 25.00
                    StatusId: "F"
                    MerchantTrns: "session_456"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /checkout/v2/transactions/{transactionId}:
    get:
      tags: [Transactions]
      operationId: getTransactionV2
      summary: Détails d'une transaction (New API)
      description: |
        Récupère les détails d'une transaction via la New API (Bearer OAuth2).
        Réponse plus légère avec des clés camelCase : email, amount, orderCode, statusId,
        fullName, cardNumber (masqué), currencyCode, recurringSupport, cardUniqueReference.

        C'est l'endpoint recommandé par Viva pour vérifier les paiements Smart Checkout.

        **SDK** : `$viva->transactions->getV2('uuid')`
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TransactionId'
      responses:
        '200':
          description: Détails de la transaction (format New API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailsV2'
              example:
                email: "john@example.com"
                amount: 15.00
                orderCode: "1234567890"
                statusId: "F"
                fullName: "John Doe"
                cardNumber: "411111...1111"
                currencyCode: "978"
                recurringSupport: true
                cardUniqueReference: "ref_abc123"
                transactionId: "c90d4902-6245-449f-b2b0-51b8cce09571"
                transactionTypeId: 5
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'
        '404':
          description: Transaction non trouvée

  # ═══════════════════════════════════════════════════════════════
  # SOURCES (Legacy API — Basic Auth)
  # ═══════════════════════════════════════════════════════════════

  /api/sources:
    get:
      tags: [Sources]
      operationId: listSources
      summary: Lister les sources de paiement
      description: |
        Retourne toutes les sources de paiement configurées pour le marchand.

        **SDK** : `$viva->sources->list()`
      security:
        - BasicAuth: []
      responses:
        '200':
          description: Liste des sources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentSource'
              example:
                - SourceCode: "1234"
                  Name: "Mon site web"
                  Domain: "example.com"
                  PathSuccess: "/payment/success"
                  PathFail: "/payment/failed"
                  IsDefault: true
                - SourceCode: "5678"
                  Name: "Application mobile"
                  Domain: "m.example.com"
                  IsDefault: false
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Sources]
      operationId: createSource
      summary: Créer une source de paiement
      description: |
        Crée une nouvelle source de paiement avec un code à 4 chiffres.

        **SDK** : `$viva->sources->create(name: 'Mon site', sourceCode: '1234', domain: 'example.com')`
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSourceRequest'
            example:
              Name: "Mon site web"
              SourceCode: "1234"
              Domain: "example.com"
              PathSuccess: "/payment/success"
              PathFail: "/payment/failed"
      responses:
        '200':
          description: Source créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacySuccessResponse'
        '400':
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ═══════════════════════════════════════════════════════════════
  # WALLETS (Mixte — Legacy + New API)
  # ═══════════════════════════════════════════════════════════════

  /api/wallets:
    get:
      tags: [Wallets, Account]
      operationId: getWallets
      summary: Récupérer les portefeuilles
      description: |
        Retourne la liste des portefeuilles du marchand avec les soldes.
        Utilise la **New API** (Bearer OAuth2).

        **SDK** : `$viva->wallets->list()` ou `$viva->account->wallets()`
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Liste des portefeuilles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsResponse'
              example:
                Wallets:
                  - WalletId: "wallet-uuid-1"
                    Available: 1500.50
                    Pending: 200.00
                    Reserved: 0.00
                    CurrencyCode: "EUR"
                    IsPrimary: true
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  /api/wallets/transfer:
    post:
      tags: [Wallets]
      operationId: transferBetweenWallets
      summary: Transférer entre portefeuilles
      description: |
        Transfère de l'argent d'un portefeuille Viva vers un autre.
        Utilise l'**API Legacy** (Basic Auth).

        **Pré-requis** : "Allow transfers between accounts" doit être activé dans Settings > API Access sur le portefeuille source.

        **SDK** : `$viva->wallets->transfer(amount: 5000, sourceWalletId: 'uuid-1', targetWalletId: 'uuid-2')`
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletTransferRequest'
            example:
              Amount: 5000
              SourceWalletId: "wallet-uuid-source"
              TargetWalletId: "wallet-uuid-target"
              Description: "Transfert mensuel"
      responses:
        '200':
          description: Transfert effectué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacySuccessResponse'
        '400':
          description: Transfert impossible (solde insuffisant, permission manquante)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /walletaccounts/v1/wallets:
    get:
      tags: [Wallets]
      operationId: listWalletsDetailed
      summary: Lister les portefeuilles (Account API)
      description: |
        Retourne les portefeuilles avec des informations enrichies (IBAN, SWIFT, friendlyName).
        Utilise la **New API** (Bearer OAuth2).

        **SDK** : `$viva->wallets->listDetailed()`
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Liste détaillée des portefeuilles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletDetailed'
              example:
                - iban: "GR1234567890123456789012345"
                  walletId: 12345
                  amount: 1500.50
                  isPrimary: true
                  currencyCode: "EUR"
                  friendlyName: "Portefeuille principal"
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

    post:
      tags: [Wallets]
      operationId: createWallet
      summary: Créer un portefeuille (sous-compte)
      description: |
        Crée un nouveau portefeuille (sous-compte) pour le marchand.
        Utilise la **New API** (Bearer OAuth2).

        **SDK** : `$viva->wallets->create(friendlyName: 'Mon wallet', currencyCode: 'EUR')`
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
            example:
              friendlyName: "Portefeuille secondaire"
              currencyCode: "EUR"
      responses:
        '201':
          description: Portefeuille créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletDetailed'
        '400':
          description: Paramètres invalides
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  /walletaccounts/v1/wallets/{walletId}:
    patch:
      tags: [Wallets]
      operationId: updateWallet
      summary: Mettre à jour un portefeuille
      description: |
        Met à jour le nom d'un portefeuille existant.
        Utilise la **New API** (Bearer OAuth2).

        > Note : le SDK utilise POST en interne (comportement Viva) mais l'intention est un PATCH.

        **SDK** : `$viva->wallets->update(walletId: 12345, friendlyName: 'Nouveau nom')`
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/WalletId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [friendlyName]
              properties:
                friendlyName:
                  type: string
                  description: Nouveau nom du portefeuille
                  example: "Wallet mis à jour"
      responses:
        '200':
          description: Portefeuille mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletDetailed'
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'
        '404':
          description: Portefeuille non trouvé

  /walletaccounts/v1/transactions:
    get:
      tags: [Wallets]
      operationId: searchWalletTransactions
      summary: Rechercher les transactions compte
      description: |
        Recherche les transactions au niveau du compte (toutes les wallets).
        Utilise la **New API** (Bearer OAuth2).

        **SDK** : `$viva->wallets->searchTransactions(['date_from' => '2026-03-01', 'date_to' => '2026-03-18'])`
      security:
        - BearerAuth: []
      parameters:
        - name: date_from
          in: query
          description: Date de début (ISO 8601)
          schema:
            type: string
            format: date
          example: "2026-03-01"
        - name: date_to
          in: query
          description: Date de fin (ISO 8601)
          schema:
            type: string
            format: date
          example: "2026-03-18"
        - name: walletId
          in: query
          description: Filtrer par ID de portefeuille
          schema:
            type: integer
          example: 12345
      responses:
        '200':
          description: Liste des transactions compte
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletTransaction'
              example:
                - transactionId: "abc-123"
                  amount: 15.00
                  walletId: 12345
                  transactionDate: "2026-03-18T10:30:00Z"
                  description: "Paiement carte"
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  /walletaccounts/v1/transactions/{transactionId}:
    get:
      tags: [Wallets]
      operationId: getWalletTransaction
      summary: Détails d'une transaction compte
      description: |
        Récupère les détails d'une transaction au niveau compte.
        Utilise la **New API** (Bearer OAuth2).

        **SDK** : `$viva->wallets->getTransaction('uuid')`
      security:
        - BearerAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          description: UUID de la transaction compte
          schema:
            type: string
            format: uuid
          example: "abc-def-123-456"
      responses:
        '200':
          description: Détails de la transaction compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransaction'
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'
        '404':
          description: Transaction non trouvée

  # ═══════════════════════════════════════════════════════════════
  # BANK ACCOUNTS (New API — Bearer OAuth2)
  # ═══════════════════════════════════════════════════════════════

  /banktransfers/v1/bankaccounts:
    post:
      tags: [BankAccounts]
      operationId: linkBankAccount
      summary: Lier un compte bancaire (IBAN)
      description: |
        Enregistre un IBAN pour les virements SEPA sortants.
        Validation automatique de l'IBAN par Viva.

        **SDK** : `$viva->bankAccounts->link(iban: 'FR76...', beneficiaryName: 'John Doe')`
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkBankAccountRequest'
            example:
              iban: "FR7630006000011234567890189"
              beneficiaryName: "Jean Dupont"
              friendlyName: "Compte principal"
      responses:
        '200':
          description: Compte bancaire lié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkBankAccountResponse'
              example:
                bankAccountId: "ba-uuid-123"
                isVivaIban: false
        '400':
          description: IBAN invalide
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

    get:
      tags: [BankAccounts]
      operationId: listBankAccounts
      summary: Lister les comptes bancaires liés
      description: |
        Retourne tous les comptes bancaires (IBAN) liés au compte marchand.

        **SDK** : `$viva->bankAccounts->list()`
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Liste des comptes bancaires
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankAccount'
              example:
                - bankAccountId: "ba-uuid-123"
                  iban: "FR76...0189"
                  beneficiaryName: "Jean Dupont"
                  friendlyName: "Compte principal"
                  isVivaIban: false
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  /banktransfers/v1/bankaccounts/{bankAccountId}:
    get:
      tags: [BankAccounts]
      operationId: getBankAccount
      summary: Récupérer un compte bancaire
      description: |
        Récupère les détails d'un compte bancaire lié.

        **SDK** : `$viva->bankAccounts->get('ba-uuid-123')`
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BankAccountId'
      responses:
        '200':
          description: Détails du compte bancaire
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'
        '404':
          description: Compte bancaire non trouvé

  /banktransfers/v1/bankaccounts/{bankAccountId}/instructiontypes:
    get:
      tags: [BankAccounts]
      operationId: getTransferOptions
      summary: Options de transfert disponibles
      description: |
        Retourne les types d'instruction disponibles pour un virement vers cet IBAN :
        standard SEPA, instant SEPA, frais partagés (SHA) ou à charge de l'émetteur (OUR).

        Uniquement pour les IBAN externes (pas les wallets Viva internes).

        **SDK** : `$viva->bankAccounts->transferOptions('ba-uuid-123')`
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BankAccountId'
      responses:
        '200':
          description: Options de transfert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferOptions'
              example:
                instructionTypes:
                  - type: "SHA"
                    isInstant: false
                    description: "Standard SEPA — frais partagés"
                  - type: "SHA"
                    isInstant: true
                    description: "Instant SEPA — frais partagés"
                  - type: "OUR"
                    isInstant: false
                    description: "Standard SEPA — frais à charge"
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'
        '404':
          description: Compte bancaire non trouvé

  /banktransfers/v1/bankaccounts/{bankAccountId}/fees:
    post:
      tags: [BankAccounts]
      operationId: feeCommand
      summary: Calculer les frais de virement
      description: |
        Crée une commande de frais pour simuler le coût d'un virement avant de l'exécuter.
        Retourne un `bankCommandId` à passer au endpoint `:send`.

        **SDK** : `$viva->bankAccounts->feeCommand('ba-uuid-123', amount: 50000, walletId: 'wallet-uuid')`
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BankAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeCommandRequest'
            example:
              amount: 50000
              walletId: "wallet-uuid-123"
              isInstant: false
              instructionType: "SHA"
      responses:
        '200':
          description: Commande de frais créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeCommandResponse'
              example:
                bankCommandId: "cmd-uuid-456"
                fee: 150
        '400':
          description: Paramètres invalides ou solde insuffisant
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  /banktransfers/v1/bankaccounts/{bankAccountId}:send:
    post:
      tags: [BankAccounts]
      operationId: sendBankTransfer
      summary: Exécuter un virement SEPA
      description: |
        Exécute un virement bancaire SEPA vers l'IBAN lié.
        Optionnel : passer le `bankCommandId` d'un fee command pour appliquer les options pré-calculées.

        **SDK** : `$viva->bankAccounts->send('ba-uuid-123', amount: 50000, walletId: 'wallet-uuid')`
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BankAccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTransferRequest'
            examples:
              simple:
                summary: Virement simple
                value:
                  amount: 50000
                  walletId: "wallet-uuid-123"
              withFeeCommand:
                summary: Virement avec pré-calcul de frais
                value:
                  amount: 50000
                  walletId: "wallet-uuid-123"
                  bankCommandId: "cmd-uuid-456"
                  description: "Virement mensuel"
      responses:
        '200':
          description: Virement exécuté
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTransferResponse'
              example:
                commandId: "cmd-uuid-789"
                isInstant: false
                fee: 150
        '400':
          description: Erreur de virement (solde insuffisant, IBAN invalide)
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  # ═══════════════════════════════════════════════════════════════
  # ACCOUNT (New API — Bearer OAuth2)
  # ═══════════════════════════════════════════════════════════════

  /api/accounts/{merchantId}:
    get:
      tags: [Account]
      operationId: getAccountInfo
      summary: Informations du compte marchand
      description: |
        Retourne les informations du compte marchand : nom commercial, email, pays, etc.

        **SDK** : `$viva->account->info()`
      security:
        - BearerAuth: []
      parameters:
        - name: merchantId
          in: path
          required: true
          description: UUID du marchand
          schema:
            type: string
            format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        '200':
          description: Informations du compte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfo'
              example:
                merchantId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                businessName: "Ma Boutique"
                email: "contact@maboutique.com"
                countryCode: "FR"
                currencyCode: "EUR"
                isVerified: true
        '401':
          $ref: '#/components/responses/UnauthorizedBearer'

  # ═══════════════════════════════════════════════════════════════
  # WEBHOOKS (pas d'auth — helpers côté serveur)
  # ═══════════════════════════════════════════════════════════════

  /webhook/verification:
    get:
      tags: [Webhooks]
      operationId: webhookVerification
      summary: Vérification du webhook (GET)
      description: |
        Viva Wallet envoie un GET à votre URL de webhook pour vérifier qu'elle est accessible.
        Vous devez répondre avec votre clé de vérification.

        **SDK** :
        ```php
        $response = $viva->webhooks->verificationResponse('your-key');
        return response()->json($response);
        ```

        > Cet endpoint est implémenté **dans votre serveur**, pas chez Viva.
      security: []
      responses:
        '200':
          description: Réponse de vérification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookVerificationResponse'
              example:
                StatusCode: 0
                Key: "your-verification-key"

  /webhook/event:
    post:
      tags: [Webhooks]
      operationId: webhookEvent
      summary: Réception d'un événement webhook (POST)
      description: |
        Viva Wallet envoie un POST avec les événements de transaction.
        Le SDK parse le payload et résout le `EventTypeId` en nom lisible.

        **SDK** :
        ```php
        $event = $viva->webhooks->parse($request->getContent());
        // ['event_type' => 'transaction.payment.created', 'event_data' => [...]]
        ```

        > Cet endpoint est implémenté **dans votre serveur**, pas chez Viva.

        ### Événements supportés

        | EventTypeId | event_type | Description |
        |-------------|-----------|-------------|
        | 1796 | `transaction.payment.created` | Paiement créé |
        | 1797 | `transaction.refund.created` | Remboursement créé |
        | 1798 | `transaction.payment.cancelled` | Paiement annulé |
        | 1799 | `transaction.reversal.created` | Annulation créée |
        | 1800 | `transaction.preauth.created` | Pré-autorisation créée |
        | 1801 | `transaction.preauth.completed` | Pré-autorisation finalisée |
        | 1802 | `transaction.preauth.cancelled` | Pré-autorisation annulée |
        | 1810 | `pos.session.created` | Session POS créée |
        | 1811 | `pos.session.failed` | Session POS échouée |
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEventPayload'
            examples:
              payment:
                summary: Paiement créé
                value:
                  EventTypeId: 1796
                  EventData:
                    TransactionId: "c90d4902-6245-449f-b2b0-51b8cce09571"
                    Amount: 15.00
                    StatusId: "F"
                    MerchantTrns: "session_123"
                    OrderCode: 1234567890
              refund:
                summary: Remboursement créé
                value:
                  EventTypeId: 1797
                  EventData:
                    TransactionId: "d4f5a678-1234-5678-9abc-def012345678"
                    Amount: 15.00
                    StatusId: "F"
                    OriginalTransactionId: "c90d4902-6245-449f-b2b0-51b8cce09571"
              preauth:
                summary: Pré-autorisation créée
                value:
                  EventTypeId: 1800
                  EventData:
                    TransactionId: "e5f6b789-2345-6789-abcd-ef0123456789"
                    Amount: 100.00
                    StatusId: "F"
                    MerchantTrns: "reservation_789"
      responses:
        '200':
          description: Événement reçu et traité

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: |
        Authentification Basic Auth pour l'**API Legacy**.
        - **Username** : Merchant ID (UUID)
        - **Password** : API Key

        Obtenir les credentials : Dashboard Viva > Settings > API Access.

    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: |
        Token OAuth2 Bearer pour la **New API**.
        Obtenu automatiquement par le SDK via `client_credentials` grant.

        - **Token endpoint** : `{accounts_url}/connect/token`
        - **Client ID** : `xxx.apps.vivapayments.com`
        - **Client Secret** : secret OAuth2

        > **Important** : ne JAMAIS envoyer le paramètre `scope=` dans la requête de token, sous peine d'erreur `invalid_scope`.

  parameters:
    OrderCode:
      name: orderCode
      in: path
      required: true
      description: Code de l'ordre de paiement (entier)
      schema:
        type: integer
        format: int64
      example: 1234567890

    TransactionId:
      name: transactionId
      in: path
      required: true
      description: UUID de la transaction
      schema:
        type: string
        format: uuid
      example: "c90d4902-6245-449f-b2b0-51b8cce09571"

    WalletId:
      name: walletId
      in: path
      required: true
      description: ID du portefeuille
      schema:
        type: integer
      example: 12345

    BankAccountId:
      name: bankAccountId
      in: path
      required: true
      description: UUID du compte bancaire lié
      schema:
        type: string
        format: uuid
      example: "ba-uuid-123"

  responses:
    Unauthorized:
      description: Authentification Basic Auth échouée — MerchantID ou APIKey invalide
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LegacyErrorResponse'
          example:
            ErrorCode: 401
            ErrorText: "Unauthorized"
            Success: false

    UnauthorizedBearer:
      description: Token OAuth2 invalide ou expiré
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "invalid_token"
              error_description:
                type: string
                example: "The access token is expired"

  schemas:
    # ─── Orders ───────────────────────────────────────────────

    CreateOrderRequest:
      type: object
      required: [Amount]
      properties:
        Amount:
          type: integer
          description: Montant en centimes (ex. 1500 = 15,00 EUR)
          minimum: 1
          example: 1500
        CustomerTrns:
          type: string
          nullable: true
          description: Description affichée au client lors du checkout
          example: "Consultation naturopathie"
        MerchantTrns:
          type: string
          nullable: true
          description: Référence interne (visible dans les exports)
          example: "session_123"
        SourceCode:
          type: string
          nullable: true
          description: Code source de paiement (4 chiffres). Null = source par défaut.
          example: "1234"
        AllowRecurring:
          type: boolean
          default: false
          description: Autoriser la tokenisation de la carte pour des paiements futurs
        IsPreAuth:
          type: boolean
          default: false
          description: Pré-autorisation uniquement (capturer plus tard)
        MaxInstallments:
          type: integer
          nullable: true
          minimum: 0
          description: Nombre maximum de versements (0 = désactivé)
          example: 3

    CreateOrderResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
          example: 0
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
          example: true
        OrderCode:
          type: integer
          format: int64
          description: Code de l'ordre créé
          example: 1234567890

    OrderDetails:
      type: object
      properties:
        ErrorCode:
          type: integer
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
        OrderCode:
          type: integer
          format: int64
        StateId:
          type: integer
          description: "État de l'ordre (0=Pending, 1=Expired, 2=Cancelled, 3=Paid)"
        MerchantTrns:
          type: string
          nullable: true
        CustomerTrns:
          type: string
          nullable: true
        RequestAmount:
          type: number
          format: double
          description: Montant demandé en unités (pas en centimes)
        RequestCurrencyCode:
          type: integer
          description: Code devise ISO 4217
        PaymentMethodId:
          type: integer
        Transactions:
          type: array
          items:
            $ref: '#/components/schemas/LegacyTransaction'

    # ─── Transactions ─────────────────────────────────────────

    LegacyTransaction:
      type: object
      properties:
        TransactionId:
          type: string
          format: uuid
        Amount:
          type: number
          format: double
        GrossAmount:
          type: number
          format: double
        Fee:
          type: number
          format: double
        StatusId:
          type: string
          enum: ["F", "A", "C", "E", "M", "X", "R"]
          description: "F=Finalized, A=Pending, C=Clearing, E=Error, M=Reversed, X=RequiresAction, R=Refunded"
        CurrencyCode:
          type: integer
        MerchantTrns:
          type: string
          nullable: true
        CustomerTrns:
          type: string
          nullable: true

    LegacyTransactionDetails:
      type: object
      properties:
        ErrorCode:
          type: integer
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
        Transactions:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/LegacyTransaction'
              - type: object
                properties:
                  Commission:
                    type: number
                    format: double
                  Order:
                    type: object
                    properties:
                      OrderCode:
                        type: integer
                        format: int64
                  CreditCard:
                    type: object
                    properties:
                      Number:
                        type: string
                        description: Numéro masqué (ex. 411111...1111)
                      CardHolderName:
                        type: string

    TransactionDetailsV2:
      type: object
      description: Réponse New API — clés camelCase
      properties:
        email:
          type: string
          format: email
        amount:
          type: number
          format: double
        orderCode:
          type: string
        statusId:
          type: string
          enum: ["F", "A", "C", "E", "M", "X", "R"]
        fullName:
          type: string
        cardNumber:
          type: string
          description: Numéro masqué
        currencyCode:
          type: string
        recurringSupport:
          type: boolean
        cardUniqueReference:
          type: string
          nullable: true
        transactionId:
          type: string
          format: uuid
        transactionTypeId:
          type: integer

    ListTransactionsResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
        Transactions:
          type: array
          items:
            $ref: '#/components/schemas/LegacyTransaction'

    CancelTransactionResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
        TransactionId:
          type: string
          format: uuid
          description: UUID de la transaction d'annulation/remboursement créée

    CaptureOrRecurringRequest:
      type: object
      required: [Amount]
      properties:
        Amount:
          type: integer
          description: Montant en centimes à capturer ou à débiter
          minimum: 1
          example: 1500
        SourceCode:
          type: string
          nullable: true
          description: Code source de paiement (pour les récurrents uniquement)
          example: "1234"

    CaptureOrRecurringResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
        TransactionId:
          type: string
          format: uuid
        Amount:
          type: number
          format: double

    # ─── Sources ──────────────────────────────────────────────

    PaymentSource:
      type: object
      properties:
        SourceCode:
          type: string
          description: Code à 4 chiffres
          example: "1234"
        Name:
          type: string
          example: "Mon site web"
        Domain:
          type: string
          nullable: true
          example: "example.com"
        PathSuccess:
          type: string
          nullable: true
          example: "/payment/success"
        PathFail:
          type: string
          nullable: true
          example: "/payment/failed"
        IsDefault:
          type: boolean

    CreateSourceRequest:
      type: object
      required: [Name, SourceCode]
      properties:
        Name:
          type: string
          description: Nom d'affichage de la source
          example: "Mon site web"
        SourceCode:
          type: string
          description: Code à 4 chiffres
          example: "1234"
        Domain:
          type: string
          nullable: true
          description: Domaine du site web
          example: "example.com"
        PathSuccess:
          type: string
          nullable: true
          description: Chemin de redirection en cas de succès
          example: "/payment/success"
        PathFail:
          type: string
          nullable: true
          description: Chemin de redirection en cas d'échec
          example: "/payment/failed"

    # ─── Wallets ──────────────────────────────────────────────

    WalletsResponse:
      type: object
      properties:
        Wallets:
          type: array
          items:
            type: object
            properties:
              WalletId:
                type: string
              Available:
                type: number
                format: double
              Pending:
                type: number
                format: double
              Reserved:
                type: number
                format: double
              CurrencyCode:
                type: string
              IsPrimary:
                type: boolean

    WalletTransferRequest:
      type: object
      required: [Amount, SourceWalletId, TargetWalletId]
      properties:
        Amount:
          type: integer
          description: Montant en centimes
          minimum: 1
          example: 5000
        SourceWalletId:
          type: string
          description: UUID du portefeuille source
          example: "wallet-uuid-source"
        TargetWalletId:
          type: string
          description: UUID du portefeuille cible
          example: "wallet-uuid-target"
        Description:
          type: string
          nullable: true
          description: Description du transfert
          example: "Transfert mensuel"

    WalletDetailed:
      type: object
      properties:
        iban:
          type: string
          example: "GR1234567890123456789012345"
        walletId:
          type: integer
          example: 12345
        amount:
          type: number
          format: double
          example: 1500.50
        isPrimary:
          type: boolean
        currencyCode:
          type: string
          example: "EUR"
        friendlyName:
          type: string
          nullable: true
          example: "Portefeuille principal"

    CreateWalletRequest:
      type: object
      required: [friendlyName]
      properties:
        friendlyName:
          type: string
          description: Nom d'affichage du portefeuille
          example: "Portefeuille secondaire"
        currencyCode:
          type: string
          default: "EUR"
          description: Code devise ISO 4217 alpha
          example: "EUR"

    WalletTransaction:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        walletId:
          type: integer
        transactionDate:
          type: string
          format: date-time
        description:
          type: string
          nullable: true

    # ─── Bank Accounts ────────────────────────────────────────

    LinkBankAccountRequest:
      type: object
      required: [iban, beneficiaryName]
      properties:
        iban:
          type: string
          description: IBAN du compte bancaire
          example: "FR7630006000011234567890189"
        beneficiaryName:
          type: string
          description: Nom du titulaire du compte
          example: "Jean Dupont"
        friendlyName:
          type: string
          nullable: true
          description: Nom d'affichage optionnel
          example: "Compte principal"

    LinkBankAccountResponse:
      type: object
      properties:
        bankAccountId:
          type: string
          format: uuid
          description: UUID du compte bancaire lié
        isVivaIban:
          type: boolean
          description: true si l'IBAN est un IBAN Viva Wallet interne

    BankAccount:
      type: object
      properties:
        bankAccountId:
          type: string
          format: uuid
        iban:
          type: string
        beneficiaryName:
          type: string
        friendlyName:
          type: string
          nullable: true
        isVivaIban:
          type: boolean

    TransferOptions:
      type: object
      properties:
        instructionTypes:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: ["SHA", "OUR"]
                description: "SHA = frais partagés, OUR = frais à charge de l'émetteur"
              isInstant:
                type: boolean
                description: true = SEPA Instant, false = SEPA standard
              description:
                type: string

    FeeCommandRequest:
      type: object
      required: [amount, walletId]
      properties:
        amount:
          type: integer
          description: Montant en centimes
          minimum: 1
          example: 50000
        walletId:
          type: string
          description: UUID du portefeuille source
          example: "wallet-uuid-123"
        isInstant:
          type: boolean
          default: false
          description: Virement SEPA Instant
        instructionType:
          type: string
          enum: ["SHA", "OUR"]
          default: "SHA"
          description: Type d'instruction de frais

    FeeCommandResponse:
      type: object
      properties:
        bankCommandId:
          type: string
          format: uuid
          description: ID de la commande de frais (à passer au endpoint :send)
        fee:
          type: integer
          description: Frais en centimes

    SendTransferRequest:
      type: object
      required: [amount, walletId]
      properties:
        amount:
          type: integer
          description: Montant en centimes
          minimum: 1
          example: 50000
        walletId:
          type: string
          description: UUID du portefeuille source
          example: "wallet-uuid-123"
        bankCommandId:
          type: string
          nullable: true
          description: ID de commande de frais (optionnel, issu de feeCommand)
        description:
          type: string
          nullable: true
          description: Description du virement
          example: "Virement mensuel"

    SendTransferResponse:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
          description: ID de la commande de virement
        isInstant:
          type: boolean
          description: true si le virement est instant
        fee:
          type: integer
          description: Frais en centimes

    # ─── Account ──────────────────────────────────────────────

    AccountInfo:
      type: object
      properties:
        merchantId:
          type: string
          format: uuid
        businessName:
          type: string
        email:
          type: string
          format: email
        countryCode:
          type: string
          description: Code pays ISO 3166-1 alpha-2
          example: "FR"
        currencyCode:
          type: string
          example: "EUR"
        isVerified:
          type: boolean

    # ─── Webhooks ─────────────────────────────────────────────

    WebhookVerificationResponse:
      type: object
      required: [StatusCode, Key]
      properties:
        StatusCode:
          type: integer
          enum: [0]
          description: Toujours 0
        Key:
          type: string
          description: Votre clé de vérification webhook (depuis le Dashboard Viva)

    WebhookEventPayload:
      type: object
      properties:
        EventTypeId:
          type: integer
          description: |
            ID du type d'événement Viva Wallet.
            Voir la table de mapping dans la description de l'endpoint.
          enum: [1796, 1797, 1798, 1799, 1800, 1801, 1802, 1810, 1811]
        EventData:
          type: object
          description: Données de l'événement (varie selon le type)
          properties:
            TransactionId:
              type: string
              format: uuid
            Amount:
              type: number
              format: double
            StatusId:
              type: string
            MerchantTrns:
              type: string
              nullable: true
            OrderCode:
              type: integer
              format: int64
            OriginalTransactionId:
              type: string
              format: uuid
              nullable: true

    # ─── Common ───────────────────────────────────────────────

    LegacySuccessResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
          example: 0
        ErrorText:
          type: string
          nullable: true
        Success:
          type: boolean
          example: true

    LegacyErrorResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
          example: 1
        ErrorText:
          type: string
          example: "An error occurred"
        Success:
          type: boolean
          example: false
